.main {
  border: 1px solid black;
  margin-top: 1.5rem;
}
.main .paragraf-main {
  color: red;
  margin-left: 3rem;
}
.main .span-main {
  color: grey;
}
.main .article-main {
  margin-top: 1rem;
  color: grey;
  margin-left: 3rem;
}
.main .span-second {
  font-weight: bold;
}
.main form .label-price {
  font-weight: bold;
  position: absolute;
  margin-top: 1rem;
  color: grey;
}
.main form {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .main form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main form input {
  width: 8rem;
  height: 3rem;
  border: 2px solid grey;
  border-radius: 1px;
}
.main .button-form {
  background-color: rgb(28, 194, 56);
  color: white;
  width: 8rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 1px;
}
.main .button-form:hover {
  background-color: red;
}
.main .price-field .question-form {
  color: hsl(214, 100%, 50%);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
.main .progress-price {
  width: 100%;
  height: 20px;
  position: relative;
  background-color: #ddd;
}
.main .bar-progress {
  background-color: red;
  width: 10px;
  height: 20px;
  position: absolute;
}
